<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>

</head>
<body>
<br><br>
<div>
<button type="button" onclick="location.href='{% url 'logout' %}' ">Logout</button>
</div>
</body>
</html>
