{% if message %}
<script>
	alert('{{ message }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign In</title>

</head>
<body>

<form action="/postlogin/" method="post">
	{% csrf_token %}
	<br/>
    Username:
	<input type="username"id="Username" name="username" placeholder="Username"><br><br>
    Email:
	<input type="email"id="Email" name="email" placeholder="E-mail"><br><br>
    Password:
	<input type="password" id="Password" name="pass" placeholder="Password"><br><br>
	<input type="submit" value="Sign In"><br><br><br>

    Have no account? <a style="font-weight: bold" href="{% url 'signup' %}">Sign Up!</a>
</form>
</body>
</html>
