<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sign Up</title>
</head>
<body>

<form action="/postsignup/" method="post">
	{% csrf_token %}
	<br/>
	<h1>Sign Up</h1>


<p>Please fill in this form</p>
    Username:
	<input type="username" name="username" placeholder="Your Username"><br><br>
	Email:
	<input type="email" name="email" placeholder="Your Email"><br><br>
    Password:
	<input type="password" name="pass" placeholder="Password"><br><br>
    Repeat Password
	<input type="password" placeholder=" Repeat Password"><br><br>
	<input type="submit" value="SignUp"><br><br>
</form>
</body>
</html>
